.App {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 1080px;
  margin: 0 auto;
}

.blue {
  color: #1676bc;
}

.gray {
  color: #ccc;
}

.roman-title {
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  line-height: 0.8;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}
