.header-mob {
  display: none;
}

@media (max-width: 768px) {
  .header {
    display: none;
  }

  .side-button-container {
    display: none;
  }

  .header-mob {
    display: block;
    background-color: #fff;
    z-index: 1000;
  }

  /* 랜딩페이지 */

  .landing-page {
    padding-top: 0;
  }

  .landing-page .main-section {
    height: 100vh;
  }

  .landing-page .main-section .main-subtitle {
    font-size: 1.5rem;
  }

  .landing-page .main-section .search-bar {
    width: 80%;
    padding: 0 1rem;
  }

  .landing-page .news-section .content {
    margin: 0;
  }

  .landing-page .news-section .content .nav {
    width: 100%;
  }

  .landing-page .news-section .content .text-section .content {
    display: none;
  }

  .landing-page .newsletter-section {
    margin: 5% 0;
  }

  .landing-page .newsletter-section .newsletter-content {
    min-height: 200px;
  }

  .landing-page .hired-section {
    margin: 5% 0;
  }

  .landing-page .hired-section .content.active,
  .landing-page .hired-section .content:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
  }

  .landing-page .lawvax-map-section {
    margin: 5% 10%;
  }

  .landing-page .lawvax-map-section .content .search-bar {
    padding: 5px 0 5px 10px;
    width: 100%;
  }

  .landing-page .lawvax-map-section .content {
    display: block;
  }

  .landing-page .lawvax-map-section .content .sub-wrap {
    padding: 0;
  }

  .landing-page .lawvax-map-section .content .map-section {
    padding: 0;
  }

  .landing-page .lawvax-map-section .content .share {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 0.8em;
  }
}
