.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-section {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5em;
  color: #0056b3;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
}

.nav a:hover {
  color: #0056b3;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  font-size: 1.5em;
  cursor: pointer;
}

.footer {
  background-color: #697077;
  padding: 10px 40px;
}

.footer-content .section1 {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.footer-content .section1 .footer-icons img {
  height: 24px;
  padding-left: 20px;
  cursor: pointer;
}

.footer-content .footer-logo-image {
  height: 40px;
  margin-right: 10px;
}

.footer-content .section2 {
  color: white;
  font-size: 11px;
}
